.header-mobile{
    width: 100%;
    height: 95px;
    background-color: #fff;
    padding: 0px 10px;
    /* z-index: 100; */
    box-sizing: border-box;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}
.logo-search-menu{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-search-menu > div:first-child{
    height: 23px;
    width: 115px;
}
.logo-search-menu > div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo-search-menu > div:nth-child(2){
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:12px;
}
.logo-search-menu > div:nth-child(2) .circular-bg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #e0e4eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-bg .search-menu-icons{
    color: #65676b;
    height: 25px;
    width: 20px;
}

.header-mobile .header-pages{
    width: 100%;
    height: 50px;
}
.header-mobile .pages{
    width: 100%;
    max-width: 750px;
    min-width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.header-mobile .pages .navlink{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-mobile .routes-div{
    width: 100%;
    max-width: 110px;
    min-width: 50px;
    height: 47px;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
 }
/* .header-mobile .active{
    border-bottom: 3px solid #0866ff;
} */
