.upcoming-pages{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #f0f2f5;
    color: #050505;
}
.upcoming-pages .side-bar{
   width: 100%;
   max-width: 360px;
   height: 100vh;
   padding: 10px 8px 0px;
   box-sizing: border-box;
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
   background-color: #fff;
}
.upcoming-pages .content{
    width: 100%;
    height: 100vh;
    padding: 20px 32px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}
.upcoming-pages .content p{
    margin: 0px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}

.name-setting-search >div:first-child, .friends-sidebar >div:first-child, .pages-sidebar .name-setting{
    height: 36px;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name-setting-search .search{
   width: 100%;
   padding: 0px 8px 15px;
   box-sizing: border-box;
} 
.name-setting-search >div:first-child h1, .friends-sidebar >div:first-child h1, .pages-sidebar .name-setting h1{
    margin: 0px;
    font-size: 24px;
    line-height: 20px;
    
}
 .round-div-upcoming-page{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #e0e4eb;
    cursor: not-allowed;
}
.round-div-upcoming-page:hover{
    background-color: #cbcfd4;
}
.dark-header-style .round-div-upcoming-page:hover{
    background-color:#3b4044 !important
}
.icons-upcoming-page{
    height: 20px;
    width: 20px;
}



.side-bar .options, .friends-sidebar .options, .pages-sidebar .options{
 display: flex;
 flex-direction: column;
 gap: 2px;
}
.side-bar .options >div , .friends-sidebar .options >div, .pages-sidebar .options >div{
   width: 100%;
   padding: 0px 8px;
   height: 44px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   border-radius: 10px;
   box-sizing: border-box;
   cursor: not-allowed;
}
.side-bar .options >div:hover, .friends-sidebar .options div:hover, .pages-sidebar .options >div:hover{
    background-color: #f2f2f5;
}
.dark-header-style .options >div:hover, .dark-header-style .options >div:hover{ 
    /*, .dark-header-style .options div:hover */
    background-color: rgb(50,52,54) !important ;
}

.side-bar .options .icon-div, .friends-sidebar .options .icon-div, .pages-sidebar .options .icon-div {
    width: 36px;
    height: 36px;
    background-color: #e0e4eb;
    /* background-color: #f0f2f7; */
    /* background-color: #f2f2f2; */
    border-radius: 50%;
}
.side-bar .options .icons, .friends-sidebar .options .icons, .pages-sidebar .options .icons{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
    margin: 8px;
} 
.side-bar .options p, .friends-sidebar .options p, .pages-sidebar .options p{
    margin: 0px;
    font-size: .9375rem;
    line-height: 1.33;
    font-weight: 500;
}

/* marketplace */
.marketplace-icon1{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/B476w-DTVd4.png'); 
    background-position: 0 -595px;
}
.marketplace-icon2{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/B476w-DTVd4.png'); 
    background-position: 0 -154px;
}
.marketplace-icon3{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/i7UeLDsvH1W.png'); 
    background-position: -218px -282px;
}
.marketplace-icon4{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yl/r/B6PPt7Oy9aR.png'); 
    background-position: 0 -168px;
}
.marketplace-icon5{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/fs-UeSVejLS.png'); 
    background-position: 0 -685px;
}

/* vedio */
.vedio-icon1{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/wM-UJMqSBLF.png'); 
    background-position: -42px -282px;
}
.vedio-icon2{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/cboFBXLZUrQ.png'); 
    background-position: 0px -188px;
}
.vedio-icon3{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/cboFBXLZUrQ.png'); 
    background-position: 0px -62px;
}
.vedio-icon4{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/cboFBXLZUrQ.png'); 
    background-position: 0px -209px;
}
.vedio-icon5{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/cboFBXLZUrQ.png'); 
    background-position: 0px -608px;
}
.vedio-icon6{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/cboFBXLZUrQ.png'); 
    background-position: 0px -167px;
}

/* groups */
.groups-icon1{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/cboFBXLZUrQ.png'); 
    background-position: 0px -524px;
}
.groups-icon2{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/hfjAwSdyy_q.png'); 
    background-position: 0px -42px;
}
.groups-icon3{
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/Pc-AUToGdc4.png'); 
    background-position: 0px -21px;
}

.side-bar .create, .pages-sidebar .create{
   width: 100%;
   height: 36px;
   padding: 0px 8px;
   margin: 5px 0px;
   box-sizing: border-box;
   border-radius: 10px;
   background-color: rgb(235, 245, 255);
   color: rgb(56, 88, 152);
   cursor: not-allowed;
}
.side-bar .create p:hover, .pages-sidebar .create p:hover{
    background-color: #f2f2f5;
}
.side-bar .create p, .pages-sidebar .create p{
    margin: 0px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    border-radius: 10px;
    vertical-align:middle;
    text-align: center;
}



/* friends page style */
.friends-page, .pages-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #f0f2f5;
    color: #050505; 
}
.friends-page .friends-sidebar, .pages-container .pages-sidebar{
   width: 100%;
   max-width: 360px;
   /* height: 100vh; */
   padding: 10px 8px 0px;
   box-sizing: border-box;
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
   background-color: #fff;
}
.friends-page .friends-card, .pages-container .pages-card{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px 32px;
    box-sizing: border-box;
}
.friends-page .friends-card >p, .pages-container .pages-card p{
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.friends-card-main{
    margin: 40px 0px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.friends-card-main .card{
    width: 170px;
    height: 250px;
    border-radius: 10px;
    cursor: not-allowed;
    box-shadow: 0px 0px 10px 0px  rgba(0,0,0,0.2);
    background-color: #fff;
}
.friends-card-main .card div:first-child{
    width: 170px;
    height: 80%;
    background-color: #f7f7f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.friends-card-main .card div:first-child img{
    width: 170px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.friends-card-main .card div:nth-child(2){
    width: 170px;
    width: 170px;
    height: 20%;
    padding: 10px 16px;
    box-sizing: border-box;
}

.friends-card-main .card div:nth-child(2) p{
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    width: 138px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 30px; 
}

.friends-icon1{
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yf/r/qaAHTAUiLRy.png");
    background-position: 0px -155px;
}
.friends-icon2{
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/hSUwXyIysbX.png");
    background-position: 0px -243px;
}
.friends-icon3{
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/hSUwXyIysbX.png");
   background-position: 0px -159px;
}
.friends-icon4{
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/hSUwXyIysbX.png");
   background-position: 0px -201px;
}
.friends-icon5{
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/dgWXjHYHHja.png");
   background-position: 0px -138px;
}
.friends-icon6{
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/hSUwXyIysbX.png");
   background-position: 0px -201px;
}



/* pages */
.pages-sidebar >div:first-child{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(181, 184, 187);
    margin-bottom: 5px;
}
.pages-icon1{
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/yMK5nNN_w1i.png"); 
    background-position:-23px -118px;
}
.pages-icon2{
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/hfjAwSdyy_q.png"); 
    background-position:0px -42px;
}
.pages-icon3{
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/eZ2Fmf180HH.png"); 
    background-position: 0px -511px;
}
.pages-icon4{
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/mH_436-pOhn.png"); 
    background-position:0px -163px;
}

.pages-container .pages-card-main{
    margin: 40px 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pages-card-main .card{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px  rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 16px;
    box-sizing: border-box;
   
}
.pages-card-main .card >div{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.pages-card-main .card >div:first-child .profile{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #e0e4eb;
}
.pages-card-main .card >div:first-child .profile img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.pages-card-main .card >div:first-child p{
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}
.pages-card-main .card >div:nth-child(2) >div:first-child{
    width: 100%;
    border-radius: 10px;
    background-color: rgb(235, 245, 255);
    color: rgb(56, 88, 152);
    padding: 8px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.pages-card-main .card >div:nth-child(2) >div:nth-child(2){
    width: 100%;
    border-radius: 10px;
    background-color: rgb(228, 230, 235);
    padding: 8px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: not-allowed;
}
.dark-parent .pages-card-main .card >div:nth-child(2) >div:first-child{
    background-color: rgba(29, 133, 252, 0.2);
    color: rgb(173, 198, 247) ;
}
.pages-card-main .card >div:nth-child(2) >div:hover{
    background-color: #f2f2f2;
}
.dark-parent .pages-card-main .card >div:nth-child(2) >div:hover{
    background-color: rgb(161, 171, 182,0.5) !important ;
}
.page-card-icon{
    width: 20px;
    height: 20px;
}
.pages-card-main .card >div:nth-child(2) >div span{
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}




/* create page */
 .create-page{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #f0f2f5;
    color: #050505; 
}
 .create-page-sidebar{
   width: 100%;
   max-width: 360px;
   padding: 10px 16px 0px;
   box-sizing: border-box;
   box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
   background-color: #fff;
   overflow-y: scroll;
   scrollbar-width: none;
}
.create-page-sidebar::-webkit-scrollbar{
    display: none;
}
.create-page-sidebar >p:first-child{
    margin: 0px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    opacity: 0.7;
    width: 100%;
 }
.create-page-sidebar >p:nth-child(2){
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    width: 100%;
    margin-bottom: 5px;
 }
.create-page-sidebar >p:nth-child(3){
    margin: 0px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
    width: 100%;
 }

.create-page-sidebar .scroll-div{
   width: 100%;
   padding: 10px 0px;
   box-sizing: border-box;
}

 .create-page .button-div{
     width: 100%;
 }
 .create-page .button-div button{
    border-style: none;
    background-color: #0866ff;
    color: #fff;
    height: 36px;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
 }
 .create-page .button-div button:hover{
    background-color: #0465ce;
 }
 .create-page .button-div button:disabled{
    background-color: transparent;
    color: unset;
 }
 .create-page .button-div p{
    margin: 0px 0px 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
 }

 .create-page-sidebar textarea{
    resize: none;
    width: 100%;
    height: 80px;
    /* min-height: 100px; */
    font-size: 15px;
    border: 1px solid #dddfe2;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;

}
.create-page-sidebar  textarea:focus{
    outline: 2px solid #0866ff;
    /* outline: none; */
}
.create-page-sidebar .input-description{
   margin: 3px 0px 10px;
   font-size: 12px;
   font-weight: 400;
   line-height: 16px;
   width: 100%;
   opacity: 0.7;
}
.create-page-sidebar input[type="file"]{
    width: 100%;
    padding: 10px 0px 10px 10px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #dddfe2;
    box-sizing: border-box;
}




@media only screen and (max-width:900px){
    .upcoming-pages{
        flex-direction: column;
    }
    .upcoming-pages .side-bar{
        margin-top: 3px;
        max-width: unset;
        height: unset;
        box-shadow: unset;
    }
    .name-setting-search >div:first-child h1, .friends-sidebar >div:first-child h1, .pages-sidebar .name-setting h1{
        font-size: 18px;
    }
    .side-bar .options, .friends-sidebar .options, .pages-sidebar .options{
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .side-bar .options >div, .friends-sidebar .options >div, .pages-sidebar .options >div{
        width: unset;
    }
    .upcoming-pages .content p{
        font-size: 22px;
    }


    /* friends page */
    .friends-page, .pages-container{
        flex-direction: column;
    }
    .friends-page .friends-sidebar, .pages-container .pages-sidebar{
        max-width: unset;
        padding: 16px;
        box-shadow: unset;
        margin-top: 3px;
     }
     .friends-page .friends-card, .pages-container .pages-card{
        padding: 20px 10px;
        height: unset;
        overflow-y: unset;
    }
    .friends-page .friends-card >p, .pages-container .pages-card p{
        font-size: 20px;
    }


    /* create page */
    .create-page{
        align-items: center;
        justify-content: center;
       
    }
    .create-page-sidebar{
        width: 100%;
        max-width: unset;
     }
    
    
}